<footer style="color:white">
    <div style="display: block;">
        <section class="footer-top-wrap">
            <div class="footer-top-wrap-container">
                <div class="footer-top-wrap-container-col1">
                    <div style="position: relative; width: 100%; top: 0; left: 0;">
                        <p class="footer-content-col1">Nội dung</p>
                        <div class="footer-top-wrap-container-col1-cer">
                            <a href="#"><img src="HinhAnh/logoSaleNoti.png" style="width:170px;"/></a>
                            <a href="#"><img src="HinhAnh/dmca-badge.png" style="width: 150px; float:right;margin-top:15px"/></a>
                        </div>
                    </div>
                </div>
                <div class="footer-top-wrap-container-col2">
                    <div style="position: relative; width:100%">
                        <h3 class="title">Dịch vụ</h3>
                    </div>
                    <div>
                        <ul class="footer-top-wrap-container-col2-list">
                            <li style="margin-bottom: 10px;"><a href="#">Khám bệnh ngoài da</a></li>
                            <li style="margin-bottom: 10px;"><a href="#">Khám tư vấn thẩm mỹ da</a></li>
                            <li style="margin-bottom: 10px;"><a href="#">Khám & tư vấn tạo hình thẩm mỹ</a></li>
                            <li style="margin-bottom: 10px;"><a href="#">Khám nam khoa</a></li>
                            <li style="margin-bottom: 10px;"><a href="#">Khám phụ khoa</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-top-wrap-container-col3" >
                    <div style="position: relative; width:100%;">
                        <h3 class="title">Về chúng tôi</h3>
                    </div>
                    <div>
                        <ul class="footer-top-wrap-container-col3-list">
                            <li style="margin-bottom: 10px;"><a href="#">Hệ thống</a></li>
                            <li style="margin-bottom: 10px;"><a href="#">Đội ngũ bác sĩ</a></li>
                            <li style="margin-bottom: 10px;"><a href="#">Tin tức</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-top-wrap-container-col4">
                    <div class="footer-title-col4" style="position: relative;">
                        <h3 class="title">Liên hệ</h3>
                    </div>
                    <div >
                        <ul class="footer-top-wrap-container-col4-list">
                            <li  style="margin-bottom: 10px;" >
                                <div class="footer-col4-item-list1">
                                    <i class="fas fa-phone" style="color:white;"></i>
                                    <a href="#" style="margin-left: 10px;">123456789</a>
                                </div>
                            </li>
                            <li style="margin-bottom: 10px;" >
                                <div class="footer-col4-item-list2" >
                                    <i class="fas fa-envelope" style="color:white"></i>
                                    <a href="#" style="margin-left: 10px;">info@gmail.com</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="footer-center-wrap">
            <div class="footer-center-wrap-container">
                <div class="footer-center-wrap-container-col1">
                    <ul class="footer-center-wrap-container-col1-list">
                        <li>Theo dõi tin tức và dịch vụ mới nhất của chúng tôi!</li>
                        <li><a href="#" style="padding: 0px 10px"><i class="fab fa-facebook-f" style="color: white"></i></a></li>
                        <li><a href="#" style="padding: 0px 10px"><i class="fab fa-youtube" style="color: white"></i></a></li>
                    </ul>
                </div>
                <div class="footer-center-wrap-container-col2">
                    <form class="footer-center-wrap-container-col2-form">
                        <div class="item-title"><h4 style="font-size:16px;font-weight:500;margin:0">Cập nhật thông tin mới nhất</h4></div>
                        <div class="item-form">
                            <div style="position:relative;width:100%;display:flex">
                                <input type="email" name="EMAIL" placeholder="Nhập email của bạn" class="email-input">
                                <span style="position:absolute; right:0;height:100%">
                                    <input type="submit" value="ĐĂNG KÝ!" class="register-btn">
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section class="footer-bottom-wrap">
            <div style="text-align:center">
                &copy; Bệnh viện .... <br />
                <span class="hidden-phone">
                    Tất cả những thông tin trên chỉ mang tính chất tham khảo, bệnh nhân phải đến trực tiếp bệnh
                    viện khám để bác sĩ chẩn đoán và điều trị.
                </span>
            </div>
        </section>

    </div>
</footer>
 