<footer class="footer">
    <div class="container1">
    <div class="row">
       <div class="footer-col">
          <h5 style="font-style: 16px;color: #FFF;">Bệnh viện Mắt Sài Gòn - MST : 0302745714 - Cấp ngày 18/10/2002 bởi Sở Kế Hoạch và Đầu Tư TP.HCM Bệnh viện Mắt Sài Gòn - Giấy phép hoạt động số 73/BYT/GPHD 0302745714 - Cấp ngày 25/12/2013 bởi Bộ Y Tế
          </h5>
          <ul>
             <li><img style="width: 70%; margin-top: 10px;" src="HinhAnh/congthuong1.png"></li>
             
          </ul>
       </div>

       <div class="footer-col">
          <h4>Dịch vụ</h4>
          <ul>
             <li><a class="chu" href="#">Khám da</a></li>
             <li><a class="chu" href="#">Trị mụn</a></li>
             <li><a class="chu" href="#">Khám da</a></li>
             <li><a class="chu" href="#">Khám da</a></li>
             <li><a class="chu" href="#">Khám da</a></li>
          </ul>
       </div>

       <div class="footer-col">
          <h4>Hướng dẫn khách hàng</h4>
          <ul>
             <li><a class="chu" href="#">Bí quyết da khỏe</a></li>
             <li><a class="chu" href="#">Hướng dẫn khách hàng</a></li>
             <li><a class="chu" href="#">Hướng dẫn thanh toán</a></li>
             
          </ul>
       </div>

       <div class="footer-col">
          <h4>Liên hệ</h4>
          <div class="social-links">
             <a  href="#"><i class="fab fa-facebook-f"></i></a>
             <a  href="#"><i class="fab fa-twitter"></i></a>
             
          </div>
       </div>
       <div class="footer-col">
          <h4>Hotline</h4>
          <div class="social-links">
             <a  href="#"><i class="fa-blender-phone"></i>19001568</a>
             
             
          </div>
       </div>
      
    </div>
   </div>
 </footer>