<nav class="header">
    <a href="/" class="logo">
       <img src='/HinhAnh/logo1.jpg' alt="hinh">
      </a>
    <div class="navigation">
       <ul class="menu">
          <div class="close-btn"></div>
          <li class="menu-item"><a href="/">Trang chủ</a></li>
          <li class="menu-item">
             <a class="sub-btn" href="#">Về chúng tôi</a>
             <ul class="sub-menu">
                <li class="sub-item"><a href="/GioiThieuChung">Giới thiệu chung</a></li>
                <li class="sub-item"><a href="#">Hệ thống bệnh viện</a></li>
                <li class="sub-item"><a href="/aboutus">Đội ngũ bác sĩ</a></li>
                <li class="sub-item"><a href="#">Trang thiết bị</a></li>
                <li class="sub-item"><a href="#">Thư viện hình &amp; video</a></li>
             </ul>
          </li>
          <li class="menu-item">
             <a class="sub-btn"  href="#">Dịch vụ</a>
             <ul class="sub-menu">
                <li class="sub-item"><a href="#">Khám bệnh ngoài da</a></li>
                <li class="sub-item"><a href="#">Khám tư vấn thẩm mỹ da</a></li>
                <li class="sub-item"><a href="#">Khám & tư vấn tạo hình thẩm mỹ</a></li>
                <li class="sub-item"><a href="#">Khám nam khoa</a></li>
                <li class="sub-item"><a href="#">Khám phụ khoa</a></li>
               
             </ul>
          </li>
          <li class="menu-item">
             <a class="sub-btn" href="#">Bệnh về da</a>
             <ul class="sub-menu">
                <li class="sub-item"><a href="/benhvaynen">Bệnh vẩy nến</a></li>
                <li class="sub-item"><a href="/benhcham">Bệnh chàm</a></li>
                <li class="sub-item"><a href="/viemdacodia">Viêm da cơ địa</a></li>
                
             </ul>
          </li>
          <li class="menu-item">
             <a class="sub-btn" href="#">Hướng dẫn khách hàng</a>
             <ul class="sub-menu">
                <li class="sub-item"><a href="/biquyetdakhoe">Bí quyết da khỏe</a></li>
                <li class="sub-item"><a href="#">Hướng dẫn đặt lịch hẹn</a></li>
             </ul>
          </li>
          <li class="menu-item">
             <a class="sub-btn" href="#">Tin tức</a>
             <ul class="sub-menu">
                <li class="sub-item"><a href="#">Tin khuyến mại</a></li>
                <li class="sub-item"><a href="#">Tin truyền thông</a></li>
             </ul>
          </li>
          <% if(user){%>
            <li class="menu-item">
               <a href="/logout">Đăng Xuất</a>
            </li>
         <% }else{%>
            <li class="menu-item">
               <a href="/login">Đăng nhập</a>
            </li>
            <%}%>
          
         
         
          
          

       </ul>
    </div>
    <div class="menu-btn"></div>
 </nav>
<script>
   //jquery for toggle dropdown menu:
   $(document).ready(function(){
          //toggle sub-menus:
          $(".sub-btn").click(function(){
             $(this).next(".sub-menu").slideToggle();
          });
       });
       //javascript for the responsive navigation menu:
       var menu=document.querySelector(".menu");
       var menuBtn=document.querySelector(".menu-btn");
       var closeBtn=document.querySelector(".close-btn");
       menuBtn.addEventListener("click",function(){
          menu.classList.add("active");
       });
       closeBtn.addEventListener("click",function(){
          menu.classList.remove("active");
       });
        //javascript for scrolling header:
        window.addEventListener("scroll" ,function(){
          var header=document.querySelector(".header");
          if (window.scrollY>0) {
             header.classList.add('white');
          }
          else{
             header.classList.remove('white');
          }
        });
</script>