<div class="btnadminPage">
    <span class="fas fa-bars"></span>
 </div>
 <nav class="sidebaradminPage">
    <div class="text">
      Bệnh viện da liễu Sài Gòn
    </div>
    <ul>
       <li class="active"><a href="#">Dashboard</a></li>
       <li>
          <a href="#" class="feat-btn">Tài khoản
          <span class="fas fa-caret-down first"></span>
          </a>
          <ul class="feat-show">
             <li><a href="/adminPageUserAccount">Tài khoản bệnh nhân</a></li>
             <li><a href="/adminPageDoctorAccount">Tài khoản bác si</a></li>
          </ul>
       </li>
       <li>
          <a href="#" class="serv-btn">Chuyên khoa
          <span class="fas fa-caret-down second"></span>
          </a>
          <ul class="serv-show">
             <li><a href="#">Khám bệnh ngoài d</a></li>
             <li><a href="#">Khám & tư vấn thẩm mỹ da</a></li>
          </ul>
       </li>
       <li><a href="/adminPageSpecialization">Chuyên khoa</a></li>
       <li><a href="/logout">Đăng xuất</a></li>
    </ul>
 </nav>
 <script>
    $('.btnadminPage').click(function(){
      $(this).toggleClass("click");
      $('.sidebaradminPage').toggleClass("show");
    });
      $('.feat-btn').click(function(){
        $('.sidebaradminPage ul .feat-show').toggleClass("show");
        $('.sidebaradminPage ul .first').toggleClass("rotate");
      });
      $('.serv-btn').click(function(){
        $('.sidebaradminPage ul .serv-show').toggleClass("show1");
        $('.sidebaradminPage ul .second').toggleClass("rotate");
      });
      $('.sidebaradminPage ul li').click(function(){
        $(this).addClass("active").siblings().removeClass("active");
      });
 </script>