<div class="btn12">
  <span class="fas fa-bars"></span>
</div>
 <nav class="sidebaradminPage">
   <div class="text">
      Bệnh viện da liễu Sài Gòn
    </div>
    <ul>
       <li class="active"><a href="/appointment">Đặt lịch</a></li>
       <li>
          <a class="feat-btn">Quản lý hồ sơ
          <span class="fas fa-caret-down first"></span>
          </a>
          <ul class="feat-show">
             <li><a href="/appointmentinfo">Hồ sơ đặt khám</a></li>
          </ul>
       </li>
       <li>
        <a href="#" class="serv-btn">Quản lý tài khoản
        <span class="fas fa-caret-down second"></span>
        </a>
        <ul class="serv-show">
            <li><a href="/appointmentUpdateInfo">Cập nhật thông tin</a></li>
 
        </ul>
     </li>
      
       <li><a href="/logout">Đăng xuất</a></li>
    </ul>
 </nav>

 <script>
    $('.btn12').click(function(){
      $(this).toggleClass("click");
      $('.sidebaradminPage').toggleClass("show");
    });
      $('.feat-btn').click(function(){
        $('.sidebaradminPage ul .feat-show').toggleClass("show");
        $('.sidebaradminPage ul .first').toggleClass("rotate");
      });
      $('.serv-btn').click(function(){
        $('.sidebaradminPage ul .serv-show').toggleClass("show1");
        $('.sidebaradminPage ul .second').toggleClass("rotate");
      });
      $('.sidebaradminPage ul li').click(function(){
        $(this).addClass("active").siblings().removeClass("active");
      });
 </script>