
 <nav class="sidebaradminPage">
    <div class="text">
     <a href="/doctorpage" style="text-decoration:none; color: #fff;">Bệnh viện da liễu Sài Gòn</a> 
    </div>
    <ul>
       <li class="active"><a href="/doctorPageInfo">Xin chào, <%=user.name  %></a></li>
       <li>
          <a href="#" class="feat-btn">Lịch khám
          <span class="fas fa-caret-down first"></span>
          </a>
          <ul class="feat-show">
             <li><a href="/doctorPageNewAppointment">Lịch hẹn mới</a></li>
             <li><a href="/doctorPageCompletedAppointment">Lịch hẹn đã hoàn thành</a></li>
          </ul>
       </li>
       <li>
        <a href="#" class="serv-btn">Lịch làm việc
        <span class="fas fa-caret-down second"></span>
        </a>
        <ul class="serv-show">
           <li><a href="/doctorPageSchedule">Xem lịch làm việc</a></li>
           <li><a href="/doctorPageCreateSchedule">Tạo mới</a></li>
        </ul>
     </li>
       <li><a href="/doctorPageFeedBack">Feedback</a></li>
       <li><a href="/logout">Đăng xuất</a></li>
    </ul>
 </nav>
 <script>
    $('.btnadminPage').click(function(){
      $(this).toggleClass("click");
      $('.sidebaradminPage').toggleClass("show");
    });
      $('.feat-btn').click(function(){
        $('.sidebaradminPage ul .feat-show').toggleClass("show");
        $('.sidebaradminPage ul .first').toggleClass("rotate");
      });
      $('.serv-btn').click(function(){
        $('.sidebaradminPage ul .serv-show').toggleClass("show1");
        $('.sidebaradminPage ul .second').toggleClass("rotate");
      });
      $('.sidebaradminPage ul li').click(function(){
        $(this).addClass("active").siblings().removeClass("active");
      });
 </script>