<%- include("./partials/head.ejs") %>
<style>
    section{
    position: relative;
    display: flex;
    height: 660px;
    width: 100%;
    background: #fff;
 }
 .forms {
    position:  relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: 50%;
    background-color: #fff;
 }
 .form-content{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
 }
 .forms .form-content .title{
 position: relative;
 font-size: 24px;
 font-weight: 500;
 color: #333;
 }
 .forms .form-content .title:before{
 content: '';
 position: absolute;
 left: 0;
 bottom: 0;
 height: 3px;
 width: 25px;
 background: #7d2ae8;
 }
 .forms .form-content .input-boxes{
 margin-top: 30px;
 }
 .forms .form-content .input-box{
 display: flex;
 align-items: center;
 height: 50px;
 width: 100%;
 margin: 10px 0;
 position: relative;
 }
 .form-content .input-box select{
 /* height: 100%; */
 width: 100%;
 outline: none;
 border: none;
 padding: 0 30px;
 font-size: 16px;
 font-weight: 500;
 border-bottom: 2px solid rgba(0,0,0,0.2);
 transition: all 0.3s ease;
 }
 .form-content .input-box select:focus,
 .form-content .input-box select:valid{
 border-color: #7d2ae8;
 }
 
 .forms .form-content .button{
 color: #fff;
 margin-top: 40px;
 }
 .forms .form-content .button input{
 color: #fff;
 background: #7d2ae8;
 border-radius: 6px;
 padding: 0;
 cursor: pointer;
 transition: all 0.4s ease;
 }
 .forms .form-content .button input:hover{
 background: #5b13b9;
 }
 
 </style>
<body>
   <%- include("./partials/nav.ejs") %>
    <section>
      <%- include("./partials/sidebarAdminPage.ejs") %>
      <div class="forms">
            <div class="form-content">
              <div class="login-form">
                <div class="title">Phân quyền</div>
                <form action="/adminPageUserAccountDetails" id='form1'>
                <div class="input-boxes">
                  <div class="input-box">
                     <select name="select" id="role" name="role" required="required" >
                        <option value="patient">patient</option>
                        <option value="doctor">doctor</option>
                        <option value="admin">admin</option>
                     </select>                 
               </div>
                  <div class="input-box">
                      <input type="hidden" name="user_id" value="<%= user._id %>" >
                  </div>
                  <div class="button input-box">
                     <input type="submit" value="CẬP NHẬT">
                  </div>
                </div>
            </form>
          </div>
         </div>
      </div>
   
    </section>
    <script>
        const form = document.getElementById("form1");
        form.addEventListener('submit', async (e)=>{
         e.preventDefault();
         const role = document.getElementById("role").value;
         const user_id = form.user_id.value;
            fetch('/adminPageUserAccountDetails',{
               method:'PUT',
               body:JSON.stringify({role,user_id}),
               headers:{'Content-Type':'application/json'} 
            })
            .then(response => response.json())
            .then(data => window.location.href=data.redirect)
            .catch(err=> console.log(err));
         })

         
   
    </script>
    </body>
    </html>