<%- include("./partials/head.ejs") %>
   <link rel="stylesheet" href="/css/adminpage.css">
   
   <body>
      <%- include("./partials/nav.ejs") %>
<section>
   <%- include("./partials/sidebarAdminPage.ejs") %>

    

</section>



</body>
</html>