
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/changePass.css">

<body>
   <%- include("./partials/nav.ejs") %>
   <section>
      <div class="color"></div>
      <div class="color"></div>
      <div class="color"></div>
      <div class="box">
         <div class="square" style="--i:0;"></div>
         <div class="square" style="--i:1;"></div>
         <div class="square" style="--i:2;"></div>
         <div class="square" style="--i:3;"></div>
         <div class="square" style="--i:4;"></div>
         <div class="container">
            <div class="user signupBx">
               <div class="formBx">
                  <form action="/sendMail">
                     <h2>Đổi mật khẩu</h2>
                     <input type="text" name="otp" placeholder="Otp">
                     <input type="text" name="password" placeholder="Mật khẩu" >
                     <input type="text" name="re_password" placeholder="Xác nhận mật khẩu" >
                     <div class="emailError"></div>
                     <input type="submit"  value="Xác nhận">
                     
                  </form>
               </div>
            </div>
         </div>
      </div>
   </section>

   <%- include("./partials/footer.ejs") %>
   <script>
      const form = document.querySelector('form');

      form.addEventListener('submit', async(e)=>{
         e.preventDefault();
         const otp = form.otp.value;
         const password = form.password.value;
         const re_password = form.re_password.value;
         try{
            const res = await fetch('/changePass',{
               method:'POST',
               body:JSON.stringify( {password:password} ),
               headers:{'Content-Type':'application/json'}

         });
         const data =await res.json();
         console.log(data);
         
         
         if (data.user){
            location.assign('/appointment');
         }
      }catch (err){
         console.log(err);
         }
      })
      
      

   </script>
</body>
</html>