<%- include("./partials/head.ejs") %>
   <link rel="stylesheet" href="/css/doctorpage.css">
 
   <body>
      <%- include("./partials/nav.ejs") %>
    
      <div class="section">
         <%- include("./partials/sidebarDoctor.ejs") %>
      <marquee behavior="" direction="">
        Xin chào bác sĩ: <%= user.name %>
      </marquee>
      </div>
   </body>
   </html>