<%- include("./partials/head.ejs") %>
   <link rel="stylesheet" href="/css/doctorpage.css">
 
   <body>
      <%- include("./partials/nav.ejs") %>
    
      <section>
         <%- include("./partials/sidebarDoctor.ejs") %>
      </section>
   </body>
   </html>