<%- include("./partials/head.ejs") %>
   <link rel="stylesheet" href="/css/doctorpage.css">
 
   <body>
      <%- include("./partials/nav.ejs") %>
    
      <div class="section">
         <%- include("./partials/sidebarDoctor.ejs") %>
      <div class="container">
         <!-- <img src="/HinhAnh/doctorpage.jpg" alt=""> -->
      </div>
      </div>
   </body>
   </html>