<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/GioiThieuChung.css">
<body>
   <%- include("./partials/nav.ejs") %>
<div class="inner_page_banner">
    <span class="item_list_element"><a href="#" class="item_list_element_sub_item"><strong>Bệnh viện da liễu &nbsp;></strong></a></span> 
    <span class="item_list_element"><a href="aboutus.html" class="item_list_element_sub_item"><strong>&nbsp; Về chúng tôi &nbsp;> </strong></a></span> 
</div>
<div class="main_content_div">
    <div class="left_div_in_main_content_div">
        <p><h3>1/GIỚI THIỆU CHUNG: </h3></p><br />
        <p>Nội dung</p><br /><br />
        <h3>2/SỨ MỆNH: </h3><br />
        <p>Nội dung</p><br /><br />
        <h3>3/GIÁ TRỊ CỐT LÕI: </h3><br />
        <p>Nội dung</p><br /><br />
        <h3>4/TẦM NHÌN: </h3><br />
        <p>Nội dung</p><br /><br />
        <p><h3 style="text-align:center">LỊCH SỬ HÌNH THÀNH: </h3>Nội dung<br/>Nội dung<br/></p><br />
    </div>
    <div class="right_div_in_main_content_div">
        <div style="position: absolute; width: 100%; box-shadow: 0 5px 25px rgb(0 0 0 /20%); top:0; left:0;">
            <ul class="toolbar">
                <li class="toolbar-item"><a href="gioithieuchung.html" class="sub-toolbar-item">Giới thiệu chung</a></li>
                <li class="toolbar-item"><a href="#" class="sub-toolbar-item">Hệ thống bệnh viện</a></li>
                <li class="toolbar-item"><a href="#" class="sub-toolbar-item">Đội ngũ bác sĩ</a></li>
                <li class="toolbar-item"><a href="#" class="sub-toolbar-item">Tin truyền thông</a></li>
                <li class="toolbar-item"><a href="#" class="sub-toolbar-item">Trang thiết bị</a></li>
                <li class="toolbar-item"><a href="#" class="sub-toolbar-item">Tuyển dụng</a></li>
                <li class="toolbar-item"><a href="#" class="sub-toolbar-item">Thư viện hình & video</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="inner_page_banner"></div>
<%- include("./partials/footer.ejs") %>

</body>
</html>