<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/GioiThieuChung.css">
<body>
   <%- include("./partials/nav.ejs") %>

<div class="inner_page_banner">
    <span class="item_list_element"><a href="#" class="item_list_element_sub_item"><strong>Bệnh viện da liễu &nbsp;></strong></a></span> 
    <span class="item_list_element"><a href="aboutus.html" class="item_list_element_sub_item"><strong>&nbsp; Về chúng tôi &nbsp;> </strong></a></span> 
</div>
<div class="main_content_div">
    <div class="left_div_in_main_content_div">
        <p><h3>1/GIỚI THIỆU CHUNG: </h3></p><br />
        <p>Được thành lập vào năm 2005, trải qua 17 năm hình thành phát triển, với 8 Bệnh viện và 2 Trung tâm Da Liễu, Phòng khám trải dài khắp 3 miền trên toàn quốc, Hệ thống Bệnh viện Da Liễu Sài Gòn tự hào là Hệ thống Bệnh viện chuyên khoa Da Liễu lớn nhất Việt Nam. Quy tụ đội ngũ hơn 500 Bác sĩ, Nhân viên Y tế giỏi chuyên môn, giàu kinh nghiệm; cùng cơ sở vật chất, thiết bị y khoa hiện đại nhập khẩu trực tiếp từ Mỹ, Châu Âu và tâm nguyện toàn tâm, toàn lực chăm sóc làn da Việt; thương hiệu Da Liễu Sài Gòn đã trở thành lựa chọn tin cậy của gia đình Việt trên khắp cả nước trong việc khám, điều trị, phục hồi và chăm sóc sức khỏe làn da. Đến nay, Hệ thống Bệnh viện Da Liễu Sài Gòn thăm khám cho hơn 3.4 triệu khách hàng. Ngoài ra, bệnh viện cũng là nơi tiếp nhận và điều trị thành công những ca bệnh khó từ các đơn vị bệnh viện khác.</p><br /><br />
        <h3>2/SỨ MỆNH: </h3><br />
        <p>Dẫn đầu ngành Da Liễu cho người dân Việt Nam bằng cách ứng dụng những kỹ thuật tiên tiến, là nơi có chất lượng y khoa chuẩn mực, nơi làm việc thân thiện, năng động và môi trường luôn học tập tiến bộ cho các bác sĩ điều dưỡng và mọi nhân viên, nhằm đưa lại kết quả điều trị tốt nhất.</p><br /><br />
    </div>
    <div class="right_div_in_main_content_div">
        <div style="position: relative; width: 100%; box-shadow: 0 5px 25px rgb(0 0 0 /20%); top:0; left:0;">
            <ul class="toolbar">
                <li class="toolbar-item"><a href="/GioiThieuChung" class="sub-toolbar-item">Giới thiệu chung</a></li>
              
                <li class="toolbar-item"><a href="/aboutus" class="sub-toolbar-item">Đội ngũ bác sĩ</a></li>
               
            </ul>
        </div>
    </div>
</div>
<div class="inner_page_banner"></div>

<%- include("./partials/footer.ejs") %>

</body>
</html>