<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Trang chủ</title>
      <link rel="stylesheet" type="text/css" href="TrangChu.css">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <link rel="shortcut icon" type="image/png" href="HinhAnh/2.png">
   </head>
   <body>
      <header>
         <a href="#" class="logo"><img src='HinhAnh/logo1.jpg' alt="hinh"></a>
         <div class="navigation">
            <ul class="menu">
               <div class="close-btn"></div>
               <li class="menu-item"><a href="#">Trang chủ</a></li>
               <li class="menu-item">
                  <a class="sub-btn" href="#">Về chúng tôi</a>
                  <ul class="sub-menu">
                     <li class="sub-item"><a href="#">Giới thiệu chung</a></li>
                     <li class="sub-item"><a href="#">Hệ thống bệnh viện</a></li>
                     <li class="sub-item"><a href="#">Đội ngũ bác sĩ</a></li>
                     <li class="sub-item"><a href="#">Trang thiết bị</a></li>
                     <li class="sub-item"><a href="#">Tuyển dụng</a></li>
                     <li class="sub-item"><a href="#">Thư viện hình &amp; video</a></li>
                  </ul>
               </li>
               <li class="menu-item">
                  <a class="sub-btn"  href="#">Dịch vụ</a>
                  <ul class="sub-menu">
                     <li class="sub-item"><a href="#">Khám mắt</a></li>
                     <li class="sub-item"><a href="#">Điều trị tật khúc xạ</a></li>
                     <li class="sub-item"><a href="#">Phẫu thuật khúc xạ</a></li>
                     <li class="sub-item"><a href="#">Phẫu thuật cườm khô Phaco</a></li>
                     <li class="sub-item"><a href="#">Phẫu thuật cườm nước Glaucoma</a></li>
                     <li class="sub-item"><a href="#">Nhãn nhi &amp; Điều trị lác (lé)</a></li>
                     <li class="sub-item"><a href="#">Phẫu thuật ghép giác mạc</a></li>
                     <li class="sub-item"><a href="#">Tạo hình thẩm mỹ</a></li>
                  </ul>
               </li>
               <li class="menu-item">
                  <a class="sub-btn" href="#">Bệnh về da</a>
                  <ul class="sub-menu">
                     <li class="sub-item"><a href="#">Các tật khúc xạ</a></li>
                     <li class="sub-item"><a href="#">Đục thủy tinh thể</a></li>
                     <li class="sub-item"><a href="#">Lé mắt</a></li>
                     <li class="sub-item"><a href="#">Cườm nước</a></li>
                     <li class="sub-item"><a href="#">Viêm kết mạc</a></li>
                     <li class="sub-item"><a href="#">Bệnh về mắt khác</a></li>
                  </ul>
               </li>
               <li class="menu-item">
                  <a class="sub-btn" href="#">Hướng dẫn khách hàng</a>
                  <ul class="sub-menu">
                     <li class="sub-item"><a href="#">Bí quyết mắt khỏe</a></li>
                     <li class="sub-item"><a href="#">Thông tin bảo hiểm</a></li>
                     <li class="sub-item"><a href="#">Hướng dẫn thanh toán</a></li>
                  </ul>
               </li>
               <li class="menu-item">
                  <a class="sub-btn" href="#">Tin tức</a>
                  <ul class="sub-menu">
                     <li class="sub-item"><a href="#">Tin khuyến mại</a></li>
                     <li class="sub-item"><a href="#">Tin truyền thông</a></li>
                     <li class="sub-item"><a href="#">Chuyện của những đôi mắt khỏe</a></li>
                  </ul>
               </li>
               <li class="menu-item">
                  <a href="login.html">Đăng Nhập</a>
               </li>
            </ul>
         </div>
         <div class="menu-btn"></div>
      </header>
      
      <section class="slider">

         <div class="myslide fade">
            
            <img src="HinhAnh/doctor.jpg" style="width: 100%; height: 100%;"alt="hinh">
            <div class="circleLoading"></div>
         </div>

          <div class="myslide fade">
             
            <img src="HinhAnh/286.jpg" style="width: 100%; height: 100%;"alt="hinh">
            <div class="circleLoading"></div>
         </div>

          <div class="myslide fade">
             
            <img src="HinhAnh/Untitled-1.png" style="width: 100%; height: 100%;"alt="hinh">
            <div class="circleLoading"></div>
         </div>

          <div class="myslide fade">
             
            <img src="HinhAnh/HinhAnh/4.jpg" style="width: 100%; height: 100%;"alt="hinh">
            <div class="circleLoading"></div>
         </div>

          <div class="myslide fade">
             
            <img src="HinhAnh/HinhAnh/5.jpg" style="width: 100%; height: 100%;"alt="hinh">
            <div class="circleLoading"></div>
         </div>

         <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
         <a class="next" onclick="plusSlides(1)">&#10095;</a>
         <div class="dotsbox" style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
         <span class="dot" onclick="currentSlide(5)"></span></div>

         <div class="booking">
            <a href="login.html">
               <button class="btn btn1">
                  Đặt lịch khám
               </button>
            </a>
            <a href="">
               <button class="btn btn2">
               Nhận tư vấn miễn phí 
            </button>
            </a>
         </div>

      </section>
         
      <section>
         <div class="container">
            <h2 >CHÀO MỪNG ĐẾN VỚI HỆ THỐNG DA LIỄU SÀI GÒN</h2>

            <div class="card">
            <div  class="icon">
               <img src="HinhAnh/audit.png" alt="hinh">
            </div>
            <div class="content">
               <h3>CÔNG NGHỆ HIỆN ĐẠI</h3>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <a class="more"></a>
         </div>
         <div class="card">
            <div  class="icon">
               <img src="HinhAnh/heart.png">
            </div>
            <div class="content">
               <h3>DỊCH VỤ TẬN TÂM</h3>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <a class="more"></a>
         </div>
         <div class="card">
            <div  class="icon">
               <img  src="HinhAnh/doctor.png" alt="hinh">
            </div>
            <div class="content">
               <h3>BÁC SĨ KINH NGHIỆM</h3>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <a class="more"></a>
         </div>
         <div class="card">
            <div  class="icon">
               <img  src="HinhAnh/hospital.png" alt="hinh">
            </div>
            <div class="content">
               <h3>HỆ THỐNG RỘNG KHẮP</h3>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <a class="more"></a>
         </div>
      </div>
      </section>
      

      <section>
         <div class="container2">
            <img class="healthcare" src="HinhAnh/healthcare.png" alt="hinh">
            <img class="healthcare" src="HinhAnh/healthcare.png" alt="hinh">
            <img class="healthcare" src="HinhAnh/healthcare.png" alt="hinh">
            <img class="healthcare" src="HinhAnh/healthcare.png" alt="hinh">
            <img class="healthcare" src="HinhAnh/healthcare.png" alt="hinh">
            <div class="loader">
            </div>
            <a class="play" onclick="toggleVideo()" >
               <img style="width:10%" src="HinhAnh/play.png" >
            </a>
            <div class="content">
               <h2>Da liễu Sài Gòn - Hệ thống Bệnh viện Da Liễu ngoài công lập hàng đầu Việt Nam</h2>
               <p>Tính tỉ mỉ, chuẩn xác và hiệu quả trong thăm khám, điều trị. Nét ân cần, thấu cảm trong chăm sóc. 
                  Chúng tôi luôn tâm niệm làm tất cả những gì tốt nhất để chăm sóc cho sức khỏe đôi mắt của bạn và những người thân yêu.</p>
            </div>
            <div class="trailer">
               <<iframe width="560" height="315" src="https://www.youtube.com/embed/ha6dx4qrJyA" title="YouTube video player" frameborder="0" 
               allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
               </iframe> >
               <!-- <video src="HinhAnh/video.mp4" autoplay="true"></video> -->
               <img src="HinhAnh/close1.png" class="close" onclick="toggleVideo()" alt="hinh">
            </div>

         </div>
        
      </section>

      <section>
         
      </section>

   <section>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
   </section>

   <footer class="footer">
      <div class="container1">
      <div class="row">
         <div class="footer-col">
            <h5 style="font-style: 16px;color: #FFF;">Bệnh viện Mắt Sài Gòn - MST : 0302745714 - Cấp ngày 18/10/2002 bởi Sở Kế Hoạch và Đầu Tư TP.HCM Bệnh viện Mắt Sài Gòn - Giấy phép hoạt động số 73/BYT/GPHD 0302745714 - Cấp ngày 25/12/2013 bởi Bộ Y Tế
            </h5>
            <ul>
               <li><img style="width: 70%; margin-top: 10px;" src="HinhAnh/congthuong1.png"></li>
               
            </ul>
         </div>

         <div class="footer-col">
            <h4>Dịch vụ</h4>
            <ul>
               <li><a class="chu" href="#">Khám da</a></li>
               <li><a class="chu" href="#">Trị mụn</a></li>
               <li><a class="chu" href="#">Khám da</a></li>
               <li><a class="chu" href="#">Khám da</a></li>
               <li><a class="chu" href="#">Khám da</a></li>
            </ul>
         </div>

         <div class="footer-col">
            <h4>Hướng dẫn khách hàng</h4>
            <ul>
               <li><a class="chu" href="#">Bí quyết da khỏe</a></li>
               <li><a class="chu" href="#">Hướng dẫn khách hàng</a></li>
               <li><a class="chu" href="#">Hướng dẫn thanh toán</a></li>
               
            </ul>
         </div>

         <div class="footer-col">
            <h4>Liên hệ</h4>
            <div class="social-links">
               <a  href="#"><i class="fab fa-facebook-f"></i></a>
               <a  href="#"><i class="fab fa-twitter"></i></a>
               
            </div>
         </div>
         <div class="footer-col">
            <h4>Hotline</h4>
            <div class="social-links">
               <a  href="#"><i class="fab fa-facebook-f"></i></a>
               <a  href="#"><i class="fab fa-twitter"></i></a>
               
            </div>
         </div>
        
      </div>
     </div>
   </footer>
     
         
    

     
      

      <script type="text/javascript">
      //jquery for toggle dropdown menu:
         $(document).ready(function(){
            //toggle sub-menus:
            $(".sub-btn").click(function(){
               $(this).next(".sub-menu").slideToggle();
            });
         });
         //javascript for the responsive navigation menu:
         var menu=document.querySelector(".menu");
         var menuBtn=document.querySelector(".menu-btn");
         var closeBtn=document.querySelector(".close-btn");
         menuBtn.addEventListener("click",function(){
            menu.classList.add("active");
         });
         closeBtn.addEventListener("click",function(){
            menu.classList.remove("active");
         });

         //javascript for scrolling header:
          window.addEventListener("scroll" ,function(){
            var header=document.querySelector("header");
            if (window.scrollY>0) {
               header.classList.add('white');
            }
            else{
               header.classList.remove('white');
            }
          });

          //javascript for showslide:
          const myslide = document.querySelectorAll('.myslide'),
           dot = document.querySelectorAll('.dot');
         let counter = 1;
         slidefun(counter);

         let timer = setInterval(autoSlide, 8000);
         function autoSlide() {
            counter += 1;
            slidefun(counter);
         }
         function plusSlides(n) {
            counter += n;
            slidefun(counter);
            resetTimer();
         }
         function currentSlide(n) {
            counter = n;
            slidefun(counter);
            resetTimer();
         }
         function resetTimer() {
            clearInterval(timer);
            timer = setInterval(autoSlide, 8000);
         }

         function slidefun(n) {
         
            let i;
            for(i = 0;i<myslide.length;i++){
               myslide[i].style.display = "none";
            }
            for(i = 0;i<dot.length;i++) {
               dot[i].className = dot[i].className.replace(' active', '');
            }
            if(n > myslide.length){
               counter = 1;
               }
            if(n < 1){
               counter = myslide.length;
               }
            myslide[counter - 1].style.display = "block";
            dot[counter - 1].className += " active";
      }
      // Javascript for More-Less
       let more=document.querySelectorAll('.more');
         for(let i=0;i<more.length;i++){
            more[i].addEventListener('click',function(){
               more[i].parentNode.classList.toggle('active');
            })
            
         }
         //Javascript for video
         function toggleVideo(){
            const trailer=document.querySelector('.trailer');
            const video=document.querySelector('iframe');
            trailer.classList.toggle('active');
            video.currentTime=0;
            // video.pause();
            // video.stop();
         }
      </script>
   </body>
</html>
