
   <%- include("./partials/head.ejs") %>
   <link rel="stylesheet" type="text/css" href="/css/TrangChu.css">
</head>
   <body>
      <%- include("./partials/nav.ejs") %>
      
      <div class="slider">
         <div class="myslide fade">
            <img src="HinhAnh/Untitled-1.png" style="width: 100%; height: 100%;"alt="hinh">
            <div class="circleLoading"></div>
         </div>
         <div class="myslide fade">
            
            <img src="HinhAnh/doctor.jpg" style="width: 100%; height: 100%;"alt="hinh">
            <div class="circleLoading"></div>
         </div>
         <div class="myslide fade">
             
            <img src="/HinhAnh/ngoaida.jpg" style="width: 100%; height: 100%;"alt="hinh">
            <div class="circleLoading"></div>
         </div>

          <div class="myslide fade">
             
            <img src="/HinhAnh/prettyFace1.jpg" style="width: 100%; height: 100%;"alt="hinh">
            <div class="circleLoading"></div>
         </div>
          <div class="myslide fade">
             
            <img src="HinhAnh/286.jpg" style="width: 100%; height: 100%;"alt="hinh">
            <div class="circleLoading"></div>
         </div>
         <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
         <a class="next" onclick="plusSlides(1)">&#10095;</a>
         <div class="dotsbox" style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
         <span class="dot" onclick="currentSlide(5)"></span></div>

         <div class="booking">
            <a href="/appointment">
               <button class="btn btn1">
                  Đặt lịch khám
               </button>
            </a>
            <a href="/adviceMail">
               <button class="btn btn2">
               Nhận tư vấn miễn phí 
            </button>
            </a>
         </div>

      </div>
         
      <section>
         <div class="container">
            <h2 >CHÀO MỪNG ĐẾN VỚI HỆ THỐNG DA LIỄU SÀI GÒN</h2>

            <div class="card">
            <div  class="icon">
               <img src="HinhAnh/audit.png" alt="hinh">
            </div>
            <div class="content">
               <h3>CÔNG NGHỆ HIỆN ĐẠI</h3>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <a class="more"></a>
         </div>
         <div class="card">
            <div  class="icon">
               <img src="HinhAnh/heart.png">
            </div>
            <div class="content">
               <h3>DỊCH VỤ TẬN TÂM</h3>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <a class="more"></a>
         </div>
         <div class="card">
            <div  class="icon">
               <img  src="HinhAnh/doctor.png" alt="hinh">
            </div>
            <div class="content">
               <h3>BÁC SĨ KINH NGHIỆM</h3>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <a class="more"></a>
         </div>
         <div class="card">
            <div  class="icon">
               <img  src="HinhAnh/hospital.png" alt="hinh">
            </div>
            <div class="content">
               <h3>HỆ THỐNG RỘNG KHẮP</h3>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <a class="more"></a>
         </div>
      </div>
      </section>
      

      <section>
         <div class="container2">
            <img class="healthcare" src="HinhAnh/healthcare.png" alt="hinh">
            <img class="healthcare" src="HinhAnh/healthcare.png" alt="hinh">
            <img class="healthcare" src="HinhAnh/healthcare.png" alt="hinh">
            <img class="healthcare" src="HinhAnh/healthcare.png" alt="hinh">
            <img class="healthcare" src="HinhAnh/healthcare.png" alt="hinh">
            <div class="loader">
            </div>
            <a class="play" onclick="toggleVideo()" >
               <img style="width:10%" src="HinhAnh/play.png" >
            </a>
            <div class="content">
               <h2>Da liễu Sài Gòn - Hệ thống Bệnh viện Da Liễu ngoài công lập hàng đầu Việt Nam</h2>
               <p>Tính tỉ mỉ, chuẩn xác và hiệu quả trong thăm khám, điều trị. Nét ân cần, thấu cảm trong chăm sóc. 
                  Chúng tôi luôn tâm niệm làm tất cả những gì tốt nhất để chăm sóc cho sức khỏe đôi mắt của bạn và những người thân yêu.</p>
            </div>
            <div class="trailer">
               <iframe width="560" height="315" src="https://www.youtube.com/embed/ha6dx4qrJyA" title="YouTube video player" frameborder="0" 
               allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
               </iframe> 
               <!-- <video src="HinhAnh/video.mp4" autoplay="true"></video> -->
               <img src="HinhAnh/close1.png" class="close" onclick="toggleVideo()" alt="hinh">
            </div>

         </div>
        
      </section>

      <section>
         
      </section>

   <!-- <section>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
   </section> -->
   <%- include("./partials/footer.ejs") %>
   
     
         
    

     
      

     
   </body>
</html>
