<!DOCTYPE html>
<html>
   <link rel="stylesheet" href="/css/login.css">
   <%- include("./partials/head.ejs") %>
   <body>
      <%- include("./partials/nav.ejs") %>
      <section>
         <div class="color"></div>
         <div class="color"></div>
         <div class="color"></div>
         <div class="box">
            <div class="square" style="--i:0;"></div>
            <div class="square" style="--i:1;"></div>
            <div class="square" style="--i:2;"></div>
            <div class="square" style="--i:3;"></div>
            <div class="square" style="--i:4;"></div>
            <div class="container">
               <div class="user signinBx" ng-controller="loginCtrl">
                  <div class="imgBx">
                     <img style=" width: 350px; height: 400px;" src="HinhAnh/1.jpg">
                  </div>
                  <div class="formBx">
                     <form>
                        <h2>Sign in</h2>
                        <input type="text" placeholder="Email" name="email">
                        <input type="password"  placeholder="Password" name="password">
                        <input type="submit" value="Login">

                        <p class="signup">Don't have an account ?
                           <a style="text-decoration: none; color: #577eff;font-weight: 500;" href="/register">Sign up</a>
                        </p>
                         <p class="signup">Forgot password ?
                           <a style="text-decoration: none; color: #577eff;font-weight: 500;" href="/forgotpass">Click Here</a>
                        </p>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <%- include("./partials/footer.ejs") %>
   </body>
</html>
