
<%- include("./partials/head.ejs") %>
   <link rel="stylesheet" href="/css/register.css">
  
   <body>
      <%- include("./partials/nav.ejs") %>
      <section>
         <div class="color"></div>
         <div class="color"></div>
         <div class="color"></div>
         <div class="box">
            <div class="square" style="--i:0;"></div>
            <div class="square" style="--i:1;"></div>
            <div class="square" style="--i:2;"></div>
            <div class="square" style="--i:3;"></div>
            <div class="square" style="--i:4;"></div>
            <div class="container">
               <div class="user signupBx">
                  <div class="formBx">
                     <form action="/register">
                        <h2>Create an account</h2>
                        
                        <input type="text" name="email" placeholder="Email" >
                        <div class="emailError"></div>
                        <input type="password" name="password" placeholder="Create Password" >
                        <div class="passwordError"></div>
                        <!-- <input type="password" placeholder="Confirm Password" name="re_password"> -->
                        <!-- <button>Sign up</button> -->
                        <input type="submit"  value="Sign Up" name="register">
                        <p class="signup">Already have an account ?
                           <a href="/login" onclick="toggleForm()">Sign in</a>
                        </p>
                     </form>
                  </div>
                  <div class="imgBx">
                     <img style=" width:380px; height: 400px;" src="HinhAnh/2.jpg">
                  </div>
               </div>
            </div>
         </div>
      </section>

      <%- include("./partials/footer.ejs") %>

      <script>
      const form = document.querySelector('form');
      const emailError=document.querySelector('.emailError');
      const passwordError=document.querySelector('.passwordError');
      form.addEventListener('submit',async(e)=>{
         e.preventDefault();
         
         //reset errors:
         emailError.textContent='';
         passwordError.textContent='';

         const email = form.email.value;
         const password = form.password.value;
         //const re_password = form.re_password.value;
         try{
            const res = await fetch('/register',{
               method:'POST',
               body:JSON.stringify({email,password}),
               headers:{'Content-Type':'application/json'}
            });
            const data =await res.json();
            console.log(data)
            if(data.errors){
               emailError.textContent=data.errors.email;
               passwordError.textContent=data.errors.password;
            }
           
            if(data.user){
               location.assign('/appointment');
               
            }
           
         }catch (err){
            console.log(err);
         }
      });

         
      </script>
   </body>
</html>