.section{
	display: flex;
 
    background: #fff;
}

.container { 
    padding: 20px 35px;
    background-color:#FDF6F0;
	display: flex;
width: 80%;
}

.LichHen{
	width: 40%;
    padding: 20px 10px;
    color: #000;
	
}

.LichHen p{
    font-size: 100%;
    font-weight: 600;

}

.LichHen .btn123{
    background-color: #F5C6AA;
	color: #fff;
	font-weight: 600;
    text-align: left;
    border: none;
	font-size: 18px;
}


.container-form {
    width: 60%;
    left: 0%;
   padding: 20px 10px; 
}
.container-form form {
	display: grid;
	/* grid-row-gap: 20px; */
	grid-template-columns: 1fr;
   
}
.container-form form p {
	font-weight: 600;
	margin-right: 10%;
}
.container-form .form-field {
	margin: 10px 0;
	display: flex;
	justify-content: space-between;
	
}

.container-form .form-field input,select,textarea {
	padding: 5px 20px;
}
.container-form .btn {
	background-color: #F5C6AA;
	color: #fff;
	padding: 10px 20px;
	border: none;
	font-size: 18px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	box-shadow: 7px 10px 12px rgba(0, 0, 0, .1);
	cursor: pointer;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
    text-decoration: none;
    text-align: center;
    
}
.container-form .btn:hover {
	transform: scale(1.03);
	-webkit-transform: scale(1.03);
	-moz-transform: scale(1.03);
	-ms-transform: scale(1.03);
	-o-transform: scale(1.03);
	box-shadow: 10px 12px 15px rgba(0, 0, 0, .3);
}

@media (max-width:1000px) {
    .container{
        width: 100%;
    }

}

@media (max-width:500px) {
    .container{
        width: 100%;
    }
	.LichHen{
		display: none;
	}
	.container { 
		padding: 20px 20px;
	
	}
	.container-form {
		width: 100%;

	   padding: 20px 10px; 
	}
}