.section{
    display: flex;
	width: 100%;
	background: #fff;
 
}
main{
    margin: 10px auto;
	display: block;
	box-sizing: border-box;
}

/*table styling*/
table {
	border-collapse: collapse;
	display: inline-block;
	text-align: left;
	border-top: 1px solid #888;
}
table thead {
	background: #bbb;
}
table tr:nth-child(even) {
	background: #dfdfdf;
}
table th, table td {
	padding: 10px 20px;
	border: 1px solid #888;
	border-width: 0 1px 1px;
}
table tr a{
	text-decoration: none;
	color: #000;
}
/*responsive table*/
@media screen and (max-width: 1000px) {
	/*put each field on its own line and align text to the right
	 *border is added for further readability
	 */
	table td {
		display: block;
		text-align: right;
	}
	table td:before {
	
		float: left;
		font-weight: bold;
		margin-right: 10px;
	}
	/*remove thead*/
	table thead {
		display: none;
	}
}










