.section{

        display: flex;
        width: 100%;
      background: #fff;
    }
.table-box{
  position: relative;
  width: 80%;
margin: 10px 5px;
}

.table-box .box{
display: inline;
max-width: 400px;

}
.table-box .box .search-box{
  position: relative;
  height: 50px;
  max-width: 50px;
  margin: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  transition: all 0.3s ease;

}
#check:checked ~ .search-box{
  max-width: 380px;
}
.search-box input{

 position: absolute;
 height: 100%;
 width: 100%;
 border-radius: 25px;
 background: #fff;
 outline: none;
 border: none;
 padding-left: 20px;
 font-size: 18px;
}
.search-box .icon{
  cursor: pointer;
  position: absolute;
  right: -2px;
  top: 0;
  width: 50px;
  background: #FFF;
  height: 100%;
  text-align: center;
  line-height: 50px;
  color: #FF676D;
  font-size: 20px;
  border-radius: 25px;
}
#check:checked ~ .search-box .icon{
  background: #FF676D;
  color: #FFF;
  width: 60px;
  border-radius: 0 25px 25px 0;
}
#check{
  display: none;
}

.content-table {
  border-collapse: collapse;
  margin: 10px auto; 
  font-size: 0.9em;
  width: 80%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.content-table th,
.content-table td {
  text-align: center;
  padding: 12px 10px;
}
.content-table td a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  justify-content:center;
  text-align: left;
  position: relative;
}

.content-table td a img {
  cursor: pointer;
  width: 30%;
  position: absolute;
}
.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}


/* @media (max-width: 1025px){
  .section{
    display: block;
  }
  .table-box{
    background-color:red;
    width: 100%;
    position: relative;
  }
  .content-table{
    width: 100%;
    position: relative;
  }
} */



