
section{
	position: relative;
	display: flex;
	height: 100%;
	width: 100%;
	background: #fff;
    background-image: url(/HinhAnh/wave.png);
}


.containerAppointment{
	right:  30%;
    width: 60%;
    margin: auto;
    overflow: hidden;
    background: skyblue;
    margin-top: 20px;
}

.containerAppointment ul{
    padding: 0px;
    margin: 0px;
}
.containerAppointment ul li{
    float:left;
    list-style: none;
    width:25%;
    height:300px;
    background: red;
    margin :20px 0px 20px 55px; 
    border:2px solid blue;
    box-sizing: border-box;
}
.containerAppointment ul li:hover{
    opacity: 0.8;
}

.containerAppointment ul li .bottom{
    width: 100%;
    height:30%;
    line-height: 50px;
    background: #fff;    
    text-align: center;
    color:white;
    font-size: 20px;
   
}
.containerAppointment ul li .bottom a{
    text-decoration: none;
   
}
@media screen and (max-width:1250px){
    .containerAppointment ul li{
        width:40%;
        margin-left: 40px;
    }
}










