.section{
	display: flex;
	width: 100%;
	background: #fff;
	
}
.container {
	width: 80%;
	background: url(/HinhAnh/newyear1.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
}

.container h1{
	color:#ff0777;
	position:absolute;
	top:50%;
	left:50%;
	transform: translateX(-50%);
}