/*---------------------------------------------*/
/*Footer*/


.footer-top-wrap {
  background-color: #ff9aa2;
  padding: 90px 0px 38px;
  display: flex;
}

.footer-top-wrap-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
  width: 100%;
}

.footer-top-wrap-container-col1 {
  position: relative;
  width: 28%;
  left: 9.5%;
  padding: 15px;
}

.footer-top-wrap-container-col1-cer {
  padding-right:20px;
  display: block;
  align-items: center;
  margin-top: 20px;
  align-items: center;
  justify-content:space-between;
}

.footer-top-wrap-container-col2 {
  position: relative;
  width: 20%;
  left: 9.5%;
  padding: 15px;
}

.footer-top-wrap-container-col2-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block
}

  .footer-top-wrap-container-col2-list li a {
      color: white;
      text-decoration: none;
  }

.footer-top-wrap-container-col3 {
  position: relative;
  width: 16.5%;
  left: 9.5%;
  padding: 15px;
}

.footer-top-wrap-container-col3-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

  .footer-top-wrap-container-col3-list li a {
      color: white;
      text-decoration:none;
  }

.footer-top-wrap-container-col4 {
  position: relative;
  width: 16.5%;
  left: 9.5%;
  padding: 15px;
}

.footer-top-wrap-container-col4-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

  .footer-top-wrap-container-col4-list li a {
      color: white;
      text-decoration:none;
  }

.footer-center-wrap {
  background-color: #ff9aa2;
  padding: 30px 0;
}

.footer-center-wrap-container {
  display: flex;
  position: relative;
  width: 100%;
}

.footer-center-wrap-container-col1 {
  position: relative;
  width: 40%;
  left: 9.5%;
  padding: 15px;
}

.footer-center-wrap-container-col1-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-center-wrap-container-col2 {
  position: absolute;
  width: 40%;
  right: 9.5%;
  height: 100%;
}

.footer-center-wrap-container-col2-form {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  justify-content: space-between
}

.email-input {
  border-radius: 30px 30px 30px 30px;
  padding: 0.75rem 1.5rem;
  border: none;
  position: relative;
  width: 100%;
  outline: 0;
}

.register-btn {
  border-radius: 0 30px 30px 0;
  padding: 0.55rem 1rem;
  border: none;
  position: relative;
  height: 100%
}

.footer-bottom-wrap {
  background-color: #ff9aa2;
  padding: 30px 0;
  display: block;
  margin-top: 5px;
}
.title {
  
  display: block;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

  .title:after {
      position: absolute;
      content: "";
      width: 50px;
      height: 4px;
      background-color: white;
      bottom: 0;
      left: 0;
  }

  .item-title{
    position:relative;
     width:45%
}

.footer-col4-item-list1 {
    display:flex;
    align-items:center;
}

.footer-col4-item-list2 {
    display:flex;
    align-items:center;
}



.item-form{
    position:relative;
    width:55%;
    display:flex;
}


  @media(max-width: 1000px){
    .footer-center-wrap-container{
        display: block;
    }
    .footer-center-wrap-container-col1{
        width: 81%;
       position: relative;
       
    }
    .footer-center-wrap-container-col2{
        width: 81%;
        position: relative;
        left: 9.5%;
    }
    .footer-center-wrap-container-col2-form{
        position: relative;
    }
}
@media(max-width: 700px) {
  .footer-center-wrap-container-col1-list{
    justify-content: center;
}
    .footer-top-wrap-container-col3{
        display: none;
    }.footer-top-wrap-container-col2{
        display: none;
    }
    .footer-center-wrap-container-col1{
        width: 81%;
    }
    .footer-center-wrap-container{
        display: block;
    }
    .footer-center-wrap-container-col2{
        position: relative;
        left: 9.5%;
        width: 81%;
        
    }
    .footer-center-wrap-container-col2-form{
        position: relative;
        display: block;
    }
    .item-title{
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }
    .item-form{
        width: 100%;
    }


}

@media(max-width: 650px){
    .footer-top-wrap-container-col4{
        width: 81%;
    }
    .footer-top-wrap-container-col1{
        width: 81%;
    }
    .footer-top-wrap-container-col1-cer{
        display: flex;
    }
    .footer-top-wrap-container{
        flex-direction: column;
    }
    .footer-content-col1{
        text-align: center;
    }
    .footer-title-col4{
        text-align: center;
    }
    .title:after{
        left: 50%;
        transform: translateX(-50%);
    }
    .footer-col4-item-list1 {
        justify-content: center;
    }
    
    .footer-col4-item-list2{
        justify-content: center;
    }
}


