/*---------------------------------------------*/
/*Footer*/
.footer{
  background-color: #FF449F;
  padding: 70px 0;
}
.footer .container1{
width: 100%;
margin:auto;
}

.footer .row{
display: flex;
/* flex-wrap: wrap;*/
}

.footer .row .footer-col ul{
list-style: none;
}
.footer-col{
  width: 25%;
  padding: 0 20px;
  margin-left:15px ;
}
.footer-col h4{
font-size: 18px;
color: #ffffff;
text-transform: capitalize;
margin-bottom: 35px;
font-weight: 500;
position: relative;
}
.footer-col h4::before{
content: '';
position: absolute;
left:0;
bottom: -10px;
background-color: #e91e63;
height: 2px;
box-sizing: border-box;
width: 50px;
}
.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}
.footer-col ul li a{
font-size: 16px;
text-transform: capitalize;
color: black;
text-decoration: none;
font-weight: 300;
color: #fff;
display: block;
transition: all 0.3s ease;
}
.footer-col ul li a:hover{
color: #ffffff;
padding-left: 8px;
}

.footer-col .social-links a{
display: inline-block;
height: 40px;
width: 40px;
background-color: rgba(255,255,255,0.2);
margin:0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
color: #24262b;
background-color: #ffffff;
}