/*---------------------------------------------*/
/*Footer*/


.footer-top-wrap {
  background-color: #Fdbccf;
  padding: 90px 0px 38px;
  display: flex;
}

.footer-top-wrap-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
  width: 100%;
}

.footer-top-wrap-container-col1 {
  position: relative;
  width: 28%;
  left: 9.5%;
  padding: 15px;
}

.footer-top-wrap-container-col1-cer {
  padding-right:20px;
  display: block;
  align-items: center;
  margin-top: 20px;
  align-items: center;
  justify-content:space-between;
}

.footer-top-wrap-container-col2 {
  position: relative;
  width: 20%;
  left: 9.5%;
  padding: 15px;
}

.footer-top-wrap-container-col2-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block
}

  .footer-top-wrap-container-col2-list li a {
      color: white;
      text-decoration: none;
  }

.footer-top-wrap-container-col3 {
  position: relative;
  width: 16.5%;
  left: 9.5%;
  padding: 15px;
}

.footer-top-wrap-container-col3-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

  .footer-top-wrap-container-col3-list li a {
      color: white;
      text-decoration:none;
  }

.footer-top-wrap-container-col4 {
  position: relative;
  width: 16.5%;
  left: 9.5%;
  padding: 15px;
}

.footer-top-wrap-container-col4-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

  .footer-top-wrap-container-col4-list li a {
      color: white;
      text-decoration:none;
  }

.footer-center-wrap {
  background-color: #Fdbccf;
  padding: 30px 0;
}

.footer-center-wrap-container {
  display: flex;
  position: relative;
  width: 100%;
}

.footer-center-wrap-container-col1 {
  position: relative;
  width: 40%;
  left: 9.5%;
  padding: 15px;
}

.footer-center-wrap-container-col1-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-center-wrap-container-col2 {
  position: absolute;
  width: 40%;
  right: 9.5%;
  height: 100%;
}

.footer-center-wrap-container-col2-form {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  justify-content: space-between
}

.email-input {
  border-radius: 30px 30px 30px 30px;
  padding: 0.75rem 1.5rem;
  border: none;
  position: relative;
  width: 100%
}

.register-btn {
  border-radius: 0 30px 30px 0;
  padding: 0.55rem 1rem;
  border: none;
  position: relative;
  height: 100%
}

.footer-bottom-wrap {
  background-color: #Fdbccf;
  padding: 30px 0;
  display: block;
  margin-top: 5px;
}
.title {
  
  display: block;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

  .title:after {
      position: absolute;
      content: "";
      width: 50px;
      height: 4px;
      background-color: white;
      bottom: 0;
      left: 0;
  }



