@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@300&display=swap');
*{

	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-family: 'Yaldevi', sans-serif;
}

/*body{
	overflow: hidden;
}*/

section{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(to bottom, #f1f4f9,#dff1ff);
	/*padding: 20px;*/
}
section.active{
 	background: #3e3f39;
}
/*---------------------------------------------*/
					/*Color*/
section .color{
	position: absolute;
	filter: blur(150px);
}

section .color:nth-child(1){
	top: -350px;
	width: 600px;
	height: 600px;
	background: #ff359b;
}

section .color:nth-child(2){
	bottom: -150px;
	left: 100px;
	width: 500px;
	height: 500px;
	background: #fffd87;
}

section .color:nth-child(3){
	bottom: 50px;
	right: 100px;
	width: 300px;
	height: 300px;
	background: #00d2ff;
}

.box{
	position: relative;
}

.box .square{
	position: absolute;
	backdrop-filter:blur(5px);
	box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	background: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	animation: animate 5s linear infinite;
	animation-delay: calc(-1s * var(--i) );
}

@keyframes animate
{
	0%,100%
	{
		transform: translateY(-40px);
	}
	50%
	{
		transform: translateY(40px);
	}
}

.box .square:nth-child(1){
	top: -50px;
	right: -60px;
	width: 100px;
	height: 100px;
}

.box .square:nth-child(2){
	top: 150px;
	left: -100px;
	width: 120px;
	height: 120px;
	z-index: 2;
}

.box .square:nth-child(3){
	bottom: 50px;
	right: -60px;
	width: 80px;
	height: 80px;
	z-index: 2;
}

.box .square:nth-child(4){
	bottom: -80px;
	left: 100px;
	width: 50px;
	height: 50px;
}

.box .square:nth-child(5){
	top: -80px;
	left: 140px;
	width: 60px;
	height: 60px;
}
/*---------------------------------------------*/
section .container{
	position: relative;
	width: 700px;
	height: 400px;
	background: white;
	box-shadow: 0 15px 50px rgba(0, 0, 0, .1);
	border-radius: 10px;
	overflow: hidden;
}
section .container .user{
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

section .container .user .imgBx{
	position: relative;
	width: 60%;
	height: 100%;
	transition: 0.5;
}

section .container .user .imgBx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.formBx{
	position: relative;
	width: 50%;
	height: 100%;
	background: solidgrey;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;
	transition: 0.5s;
}

.formBx h2{
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	width: 100%;
	margin-bottom:10px ;
	color: #555;
}

section .container .user .formBx input{
	width: 100%;
	padding: 10px;
	background: #f5f5f5;
	color: #333;
	border: none;
	outline: none;
	box-shadow: none;
	font-size: 14px;
	margin: 8px 0;
	letter-spacing: 1px;
	font-weight: 300;
}

section .container .user .formBx input[type="submit"]{
	max-width: 100px;
	background: #677eff;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	transition: 0.5;
}

 section .container .user.signupBx .formBx input[type="submit"]{
 	background: #e73e49;
 }

section .container .signupBx{
 	pointer-events: none;
}

section .container.active .signupBx{
	pointer-events: all;
 }

section .container .signupBx .formBx{
 	top: 100%;
 }

section .container .signupBx .imgBx{
 	top: -100%;
 	transition: 0.5s;
}

 section .container.active .signupBx .formBx{
 	top: 0;
 }

section .container.active .signupBx .imgBx{
 	top: 0;
}

section .container .user  .formBx .signup{
	position: relative;
	margin-top: 20px;
	font-size: 12px;
	letter-spacing: 1px;
	color: #555;
	text-transform: uppercase;
	font-weight: 300;
}

section .container .user .formBx .signup a{
	font-weight: 600;
	text-decoration: none;
	color: #577eff;
}


section .container .signinBx .formBx{
	top: 0;
}
 
section .container.active .signinBx .formBx{
	top: 100%;
}

section .container .signinBx .imgBx{
	top: 0;
}

section .container.active .signinBx .imgBx{
	top: -100%;
}

@media (max-width: 990px){
	section.container{
		max-width: 400px;
	}
	section .container .imgBx{
		display: none;
	}
	section .container .user .formBx{
		width: 100%;
	}
}




