/* @import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap'); */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: 'Zen Antique', serif; */
}

.header{
	z-index: 999;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
  height: 90px;
	background: #fff;
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
	box-shadow: 0 5px 25px rgb(0 0 0 /20%);
	padding: 0 100px;
	transition: 0.6s; 
} 

.header .logo img{
	max-width: 150px;
}

.header .navigation{
	position: relative;
	line-height: 50px;
	transition: 0.6s;
  /* transition-property: line-height; */
  padding-right: 5px;
}

.header .navigation .menu{
  position: relative;
  display: flex;
  /* justify-content: center;  */
  list-style: none;
  user-select: none;
  padding-left: 70px; 
  padding-top: 10px; 
}

.menu-item >a{
  position: relative;
  color: #000;
  font-size: 20px;
  text-decoration: none;
  margin-right: 30px;
  transition: 0.3;
}

.menu-item >a:hover{
  color:#469DFF;
  transition: 0.3s;
}

 .menu-item .sub-menu{
  position: absolute;
  background: #fff;
  top: 70px;
  line-height: 40px;
  list-style: none;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  pointer-events: none;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s;
  transition-property: transform, opacity;
  width: 40%; 
}

.menu-item:hover .sub-menu{
  pointer-events: all;
  transform: translateY(5px);
  opacity: 1;
  transition: 0.3s;
}

.menu-item .sub-menu .sub-item{
  position: relative;
  padding: 5px 0;
  cursor: pointer;
  /* box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2); */
}

.menu-item .sub-menu .sub-item a{
  color: #000;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 20px;
}

.menu-item .sub-menu .sub-item:hover{
  background: #4080EF;
}

.menu-item .sub-menu .sub-item:last-child:hover{
  border-radius: 0 0 8px 8px;
}

/*Header when scrolling down*/
.header.white{
  transition: 0.5s;
  background: #fff;
  position: fixed;
  animation: animate 0.5s linear ;
}
header.white .navigation .menu .menu-item >a{
  color: black;
}
@keyframes animate
{
  0%
  {
    transform: translateY(-40px);
  }
  
}
/*-------------------------------------------*/
                    /*Part 2*/
.slider{
position: relative;
width: 100%;
background: #2c3e50; 
}

.myslide{
height: 600px;
display: none;
overflow: hidden;
}

.prev, .next{
position: absolute;
top: 50%;
transform: translate(0, -50%);
font-size: 50px;
padding: 15px;
cursor: pointer;
color: rgba(255, 240, 223, 1);
transition: 0.1s;
user-select: none;
}

.prev:hover, .next:hover{
color: #F25287; 
}

.next{
right: 0;
}

.dotsbox{
position: absolute;
left: 50%;
transform: translate(-50%);
bottom: 20px;
cursor: pointer;
}

.dot{
display: inline-block;
width: 15px;
height: 15px;
border: 1px solid #fff;
border-radius: 50%;
margin: 0 10px;
cursor: pointer;
}

.active, .dot:hover{
background-color: #F25287; 
}

.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: 0.8}
to {opacity: 1}
}

@keyframes fade {
from {opacity: 0.8}
to {opacity: 1}
}

.circleLoading{
position: absolute;
top: 5%;
right: 1%;
transform: translate(-50%,-50%);
width: 30px;
height: 30px;
border-radius: 50%;
border: 5px solid rgba(0, 0, 0, .1);
border-top: 5px solid #f2059f;
animation: animateRotate 8s infinite linear;

}
@keyframes animateRotate{
from{
transform: rotate(0deg);
}to{
transform: rotate(360deg);
}
}

.booking{
position: absolute;
bottom: 3%;
left: 0%;
/*text-align: center;*/
}


.booking a .btn{
  background:#FAEEE7;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  padding: 12px 20px;
  min-width: 200px;
  min-height: 30px;
  margin: 10px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  color: #F54291;
  font-weight: bold;
}

.booking .btn:hover{
  color: #6A197D;
  transition: 0.5;
}

/*-------------------------------------------*/
                    /*Part 3*/
.container{
  height:660px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #FFCBCB;
}
.container h2{
  margin: 10px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #E11D74;
  font-weight: 600;
}

.container .card{
   position: relative;
   width: 300px;
   padding: 50px;
   margin: 50px;
   /* backdrop-filter:blur(5px); */
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.2);*/
    background: linear-gradient(#FAF2F2,#FFBCBC);

    border-radius: 10px;
}

.container .card::before{
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   border: 20px solid transparent;
   /*border-top: 20px ;
   border-right: 20px ;*/
}

.container .card.active::before{
    border-top: 20px solid #ff3b7e;
   border-right: 20px solid #ff3b7e;
}
.container .card .icon{
   margin-bottom: 10px;
   padding-left: 45px;
}

.container .card .icon img{
   max-width: 90px;

}
.container .card .content{
   position: relative;
   height: 215px;
   overflow: hidden;
}

.container .card.active .content{
    padding-bottom: 300px;
}

.container .card .content::before{
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
  /* background: linear-gradient(transparent,#3f3f3f);*/
}
.container .card.active .content::before{
   display: none;

}

.container .card .content h3{
   color: #E11D74;
   font-size: 1.4em;
   font-weight: 600;
   margin-bottom: 10px;
   text-align: center;
}

.container .card .content p{
   color: #000;
  font-weight: 300;

}
.container .card .more{
   position: relative;
   padding:10px 15px ;
   background: #ECE2E1;
   margin-top: 20px;
   margin-left: 15px;
   display: inline-block;
   cursor: pointer;
   text-transform: uppercase;
   color: #383838;
   font-weight: 500;
   letter-spacing: 2px;
   font-size: 14px;
   font-weight: bold;
}

.container .card.active .more{
  background: #ff3b7e;
  color: #fff;
}

.container .card .more::before{
  content: 'Read More';

}

.container .card.active .more::before{
   content: 'Read Less';
}

/*---------------------------------------------*/
                      /*Part 4*/
section .container2{
  position: relative;
  display: flex;
  height: 600px;
  width: 100%;
  background: cornsilk;
}
section .container2 .healthcare:nth-child(1){
  position:absolute;
  top: 10%;
  left: 5%;
  width: 15%;
}
section .container2 .healthcare:nth-child(2){
  position:absolute;
  top: 2%;
  right: 22%;
  width: 12%;
}
section .container2 .healthcare:nth-child(3){
  position:absolute;
  bottom: 12%;
  left: 37%;
  width:10%;
}
section .container2 .healthcare:nth-child(4){
  position:absolute;
  bottom: 10%;
  right: 5%;
  width:5%;
}
section .container2 .healthcare:nth-child(5){
  position:absolute;
  bottom: 10%;
  left: 5%;
  width:5%;
}
section .container2 .loader{
  transform: translateX(-40%);
  top: 35%;
  left: 30%;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background:cornsilk;
  animation: animateRotate2 2s linear infinite;
}
@keyframes animateRotate2 {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
section .container2 .play img{
  position:absolute;
  top: 35%;
  left: 30%;
  cursor: pointer;
}
section .container2 .loader::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width:50% ;
  height: 100%;
  background-size: 100px 180px;
  background-repeat: no-repeat;
  border-top-left-radius: 100px;
  border-bottom-left-radius:100px;
}
section .container2 .loader::after{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background:#FD6F96;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 10px #FD6F96,
              0 0 20px #FD6F96,
              0 0 30px #FD6F96,
              0 0 40px #FD6F96,
              0 0 50px #FD6F96,
              0 0 60px #FD6F96,
              0 0 70px #FD6F96,
              0 0 80px #FD6F96,
              0 0 90px #FD6F96,
              0 0 100px #FD6F96;
}
section .container2 .content{
  position: absolute;
  top:35%;
  right: 5%;
  max-width:700px;
  min-height:200px ;
}
section .container2 .content h2{
  position: relative;
  color: #ff0162d8;
  font-size: bold;
  font-size: 30px;
  text-align: center;
}
section .container2 .content p{
  
  position: relative;
  color: #ff0162b2;
  margin-top: 15px;
  font-size: 20px;
  text-align: center;
  
}

section .container2 .trailer{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  visibility: hidden;
  opacity: 0;
}

section .trailer.active{
  visibility: visible;
  opacity: 1;

}
.trailer iframe{
  max-width: 900px;
  outline: none;
}

.trailer .close{
  position: absolute;
  top: 0%;
  right: 0%;
  cursor: pointer;
  filter: invert(1);
  max-width: 32px;
}



/*---------------------------------------------*/
                      /*Part 5*/



/*---------------------------------------------*/
                      /*Footer*/
.footer{
    background-color: #FF449F;
    padding: 70px 0;
}
.footer .container1{
  width: 100%;
  margin:auto;
}

.footer .row{
  display: flex;
 /* flex-wrap: wrap;*/
}

.footer .row .footer-col ul{
  list-style: none;
}
.footer-col{
   width: 25%;
   padding: 0 20px;
   margin-left:15px ;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: black;
  text-decoration: none;
  font-weight: 300;
  color: #fff;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}



/*---------------------------------------------*/
                      /*Thu nhỏ màn hình*/
@media(max-width: 1350px){
.header .navigation .menu{
  position: fixed;
  display: block;
  min-width: 300px;
  height: 100vh;
  top: 0;
  overflow-y: auto;
  padding: 60px 60px;
  right: -100%;
  transition: 0.5s;
  background: #fff;
  justify-content: center;
  list-style: none;
  user-select: none;
  transition-property: right,visiblity;
  visibility: hidden;
} 

.menu-item{
position: relative;

}

.menu-item .sub-menu{
opacity: 1;
position: relative;
top: 0;
transform: translateX(10px);
background: rgba(255, 255, 255, 0.1);
border-radius: 5px;
overflow: hidden;
display: none;
width: 100%;
}

.menu-item:hover .sub-menu{
transform:translateX(10px);
}

.menu-item .sub-menu .sub-item a:hover{
color: #4080EF;
transition: .3s;
}

.header{
padding: 15px 20px;
}

.close-btn{
position: absolute;
background: url(HinhAnh/close.png)no-repeat;
width: 500px;
height: 50px;
background-size: 20px;
background-position:center ;
top: 0;
left: 0;
margin: 25px;
cursor: pointer;
} 

.menu-btn{
background: url(HinhAnh/buttonblack.png)no-repeat;
width: 40px;
height: 40px;
background-size: 30px;
background-position: center;
cursor: pointer;
display: block; 
}

.header .navigation .menu.active{
right: 0;
visibility: visible;
} 

}


             
             
             
             
             
             



