<%- include("../../partials/head.ejs") %>
<link rel="stylesheet" href="/css/adminDocRole.css">

  <body>
    <%- include("../../partials/nav.ejs") %>
      <div class="section"> 
        <%- include("../../partials/sidebarAdminPage.ejs") %>
        <div class="center">
          <h1>Thông tin Phòng</h1>
          <form action="/adminPageCreateClinic">
            <div class="txt_field">
              <input type="text" name="name" required="required" ></input>  
              <span></span>
              <label>Tên Phòng</label>
           
            </div>
            
            <input type="submit" value="Tạo">
           
          </form>
        </div>



      </div>
      <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', async (e)=>{
         e.preventDefault();
         const name = form.name.value;
         try{
           const res = await fetch('/adminPageCreateClinic',{
             method:'POST',
             body:JSON.stringify({name}),
             headers:{'Content-Type':'application/json'} 
            })
            const data =await res.json();

            if(data.clinic){
               alert('Thành công');
            }else{
               console.log(err);
            }

         }catch(err){
            console.log(err);
         }
      })
    </script>

  </body>
  </html>