<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/adminDocRole.css">
  <body>
      <%- include("./partials/nav.ejs") %> 
      <div class="section"> 
        <%- include("./partials/sidebarAdminPage.ejs") %> 
        <div class="center">
          <h1>Thông tin chuyên khoa</h1>
          <form action="/adminPageCreateSpecialization" >
            <div class="txt_field">
              <input name="select" id="specializations" name="specializations" required="required" ></input>  
              <span></span>
              <label>TÊN CHUYÊN KHOA</label>
            </div>
      
             
            <div class="txt_field">
              <textarea id='description' name="description"> </textarea>
              <span></span>
              <label>MÔ TẢ</label>
            </div>
            <div class="txt_field">
              <input type="input" name="price" required="required">
              <label>GÍA</label>
            </div>
            
            <input type="submit" value="Tạo">
           
          </form>
        </div>

      </div>
      <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', async (e)=>{
         e.preventDefault();
         const specializations = form.specializations.value;
         const description =document.getElementById("description").value;
         const price = form.price.value;

         try{
           const res = await fetch('/adminPageCreateSpecialization',{
             method:'POST',
             body:JSON.stringify({specializations,description,price}),
             headers:{'Content-Type':'application/json'} 
            })
            const data =await res.json();

            if(data.specialization){
               alert('Thành công');
            }else{
               console.log(err);
            }

         }catch(err){
            console.log(err);
         }
      })
    </script>

  </body>
  </html>